body{
    background-color: #FFF5E8;
    max-width:  1000px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    color:saddlebrown;
    margin: 0 auto;
}

h1,h2{
    color: brown;
}

#buso{
    float: left;
    margin: 0px 10px 10px 0px;
}
#jankele{
    float: right;
    margin: 0px 0px 10px 10px;

}
#buso,#jankele{
    width: 300px;
    border: 4px solid white;
    border-radius: 2px;
}

li{
    list-style-image: url("jel.png");
    margin: 20px 0;
}

img#header{
    width: 100%;
}

img#logo{
    float: right;
}
footer{
    background-color:  bisque;
    padding: 30px 10px;
    background-image: url("buso_logo.png");
    background-position: right;
    background-repeat: no-repeat;
}

p::first-letter {
    margin-left: 10px;
}