body {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.tartalom {
    background-color: #CCC;
    color: black;
    padding: 10px;
    margin: 0 auto;
    width: 700px;
}


.forras {
    clear: both;
    background-color: #757575;
    color: white;
    padding: 10px;
    margin: 0 auto;
    width: 700px;
}

p {
    padding-left: 20px;
}

.adadtok p {
    padding: 0;
}

#pot {
    width: 700px;
    border: 3px solid white;
}

img.elsok {
    width: 100px;
    border: 4px white solid;
}


.adatok {
    width: 130px;
    margin-left: 15px;
    border-left: 4px solid black;
    float: right;
    padding-left: 30px;
}

#garas {
    width: 100px;
    border: 3px solid white;
}

.elso {
    font-size: 80%;
    width: 16%;
    height: 180px;
    float: left;
    text-align: center;
}

a {
    color: white;
}