body {
  background-color: #E7E7FF;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  max-width: 1000px;
  text-align: justify;
}

table{
  box-shadow: 5px 5px 7px #1D1D4E;
}

th {
  border-collapse: collapse;
  text-align: center;
}

table, td, tr, th{
  border: 1px solid #1D1D4E;
}

img {
  border: 1px solid #1D1D4E;
  border-radius: 5px;
  margin: 10px 20px;
  box-shadow: inset;
  box-shadow: 5px 5px 7px #1D1D4E;
}

#balkep {
  float: left;
  min-width: 400px;
  width: 400px;
}

td:first-child {
  font-weight: bold;
  text-align: right;
}

td:nth-child(2) {
  font-style: italic;
  text-align: left;
}


