body {
	font-size: 11pt;
	margin: 0px;
	padding: 0px;
	background-image: url(bg.png);
	font-family: Verdana;
	color: black;
}

p{
	
}

hr {

}

h1, h2 {
	color: #347235;
	font-size: 17px;
}

h2 {
	
}

#tartalom {
	margin: 0 auto 0 auto;
	text-align: left;
	background-color: white;
	background-size: 850px;
	background-position: center right;
	border:none;
	margin: 0px 10px;
	
}

#nev{
	font-size: 16px;
	font-style:italic;
}


.kep {
	border: 1px;
	margin-left: 5px;
}

a:link {
	color: #008080;
}

