
body{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    
}
.tartalom {
    color: black;
    background-color: #CCC;
    margin: auto;
    width: 700px;
}

.forras {
    clear:both;
    color: white;
    background-color: #757575;
    width: 700px;
    margin: auto;
    padding: 30px;
}

p {
}

img.elsok {
    height: 80%;
    border: solid white;
}

img.szerepek{
}

.adatok {
    width: 130px;
    padding-left: 15px;
    border-left: solid black;
    height: 250px;
}

.elso {
    width: 16%;
    height: 190px;
    float: left;
    padding: 0px;
    
}
#garas_kep{
    width: 700px;
}
.garas_kep2{
    width: 100px;
    margin: 10px;
    border: solid white;
    
}
.kep_adat{
    text-align: center;
    margin: 0;
}
div{
    padding: 30px;
}
a{
    color: white;
}
