body{
    background-image: url(hatter.png);
    font-family: sans-serif;
    font-size: 110%;
    color: #444444;
}

#tartalom{
    background-color: white;
    margin: auto;
    width: 1100px;
    text-align: center;
    border: none;
    padding: 0 10px;
}

p{
    text-align: justify;
}
 h1,h2{
    color: #FC4842;
    text-align: left;
 }

 h2{
    font-style: italic;
    background: #CCCCCC;
    padding: 20px;
 }

 #d{
    text-align: left;
 }

 a{
    color:black
 }
 #kep{
float: left;
border: none;
margin: 0 5px 0 0; 
 }

#kep2{
    float: center;
    border: none;
    width: 300px;
}

table{
    text-align: center;
    margin: auto;
    border: 1px solid black;
}

tr{
    width: auto;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

th{
    background-color: grey;
    color: #fc4842
}