body {
    background-image: url(hatter.png);
    font-family: sans-serif;
    font-size: 110%;
    color: #444444;
}
a:link{
 color: black;
 }
p{
    text-align: justify;
}
#tartalom {
    background-color: white;
    width: 1100px;
    text-align: center;
    border: none;
    padding: 0px 10px;
    margin: auto;
}
h1, h2 {
    color:#FC4842;
}
h2 {
    font-style: italic;
    background-color: #CCCCCC;
    padding: 20px;
}
#links {
    text-align: left;
}
#kep {
    float:left;
    margin-right: 5px;
    border: none;
}
table {
    margin: auto;
    border: 1px solid black;
}
tr {
    width: auto;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}
th {
    background-color: #CCCCCC;
    color: #FC4842;
    margin: 10px;
}
.asd {
    
}