
:root {
	--color: #354266;
}

body {
	background-image: url("hatterkep.jpg");
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	background: #fff;
	background-image: url("tabla_hatter.png");
	border: 5px solid var(--color);
}

#content>div {
	padding: 15px;
}

h1 {
	text-align: center;
}


#footer {
	grid-column-start: 1;
	grid-column-end: 4;
	background: var(--color);
	text-align: center;
	color: #fff;
}

#footer a {
	color: #fff;
	font-style: italic;
}

h1, h2 {
	color: var(--color);
}

th, td {
	padding: 5px;
	text-align: left;
}

table, th, td {
	border: 2px solid var(--color);
	border-collapse: collapse;
	background: #7cd6ff;
}

.side:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.side:nth-child(3) {
	background: #ddd;
	display: flex;
	width: 300px;
	flex-flow: column;
}

#data {
	flex: 0 1 auto;
}

#logo {
	background-image: url("Nemzeti_Park_logo.png");
	background-position: center;
	background-repeat: no-repeat;
	flex: 1 1 auto;
}

#terkep {
	display: block;
	margin: auto;
}

#data h2 {
	text-align: center;
}

.large {
	color: var(--color);
	font-weight: 700;
	font-size: 1.1em;
}