body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2f4858;
    background-image: url(hatter.png);

}

#tartalom{
    width: 80%;
    padding: 10px;
    background-color: white;
    margin: 20px 0;
    border-radius: 10px;
}

h1{
    color: #2D9A46;
}
h2{
    color: #E95B13;
}

table, th ,td{
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
}
th{
    color: #2D9A46;
    text-align: left;
}
.kozep{
    text-align: center;
}

#logo{
    float: left;
    margin-right: 20px;
}
#konyha , video{
    width: 90%;

}