body{
  max-width: 750px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}
h1{
  text-align: center;
}


table{
  box-shadow: 5px 5px 7px #1D1D4E;
  border-spacing: 0;
}
table, th , td{
  border: 4px solid black;
  border-collapse: collapse;

}

td:first-child {
  font-weight: bold;
  text-align: right;
}

td:nth-child(2) {
  font-style: italic;
  text-align: left;
}

#balkep{
  float: left;
}

.fejsor{
  background-color: black;
  color: white;
  text-align: center;
}

#fioka{
  float: right;
  border: 2px solid black;
}

.forras{
  text-align: center;
}