body {
    background-image: url(tengerpart.jpg);
}
div {
    width: 1100px;
    padding: 10px;
    border: #284555;
    background-color: white;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #284555;
}

h2 {
    color: #388ec0;
}
img {
    width: 600px;
}
#kicsi, th{
    border: 2 px solid black ;
    background-color: #388ec0;
    border-collapse: collapse;
}
#jobb {
    background-color: #e8f7fe;
    width: 400px;
}