body {
    background-image: url(tengerpart.jpg);
}

h1 {
    color: #284555;
}

h2 {
    color: #388ec0;
    text-align: center;
}

#tartalom {
    border: none;  
    width: 1100px;
    background-color: white;
    border: 1px solid #284555;
    margin: 0 auto;
    text-align: justify;
}


.kozep {
    text-align: center;
}

img {
    width: 600px ;
}

#keplink{
    text-align: center;
}

#tablazat{
    margin: auto;
    border-collapse: collapse;
    padding: 3px;
    border: 1px solid #388ec0;
}

table{
    width: 380px;
}

td{
    border: 1px solid #388ec0;
    padding: 3px;
}

th{
    border: 1px solid #388ec0;
    text-align: left;
}


table,td,th {
    background-color: #a0d8f8;
}


.container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.container div{
    padding: 10px;
    margin: 1px;
}

#j {
    width: 400px;
    background-color: #e8f7fe;
    border: none;
}