body {
    background-image: url(hatterkep.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

#tartalom {
    width: 1200px;
    background-image: url(tabla_hatter.png);
    margin: auto;
    background-color: white;
    border: 5px solid #354266;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.container div{
    padding: 15px;
}

.kiemelt{
    color: #354266;
    font-weight: bold;
    font-size: large;
}

h1, h2 {
    color: #354266;
    text-align: center;
}

table, td, th {
    border: 2px solid #354266;
    border-collapse: collapse;
    background-color: #a2c3ee;
    padding: 5px;
}

th{
    text-align: left;
}

table {
    padding: 5px;
}

.kozep{
    text-align: center;
}

#tengerszem{
    margin-top: 13%;
}

#jobb{
    background-image: url(Nemzeti_Park_logo.png);
    background-repeat: no-repeat;
    background-position: initial center;
}

#footer {
    background-color: #354266;
    color: white;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.feher {
    font-style: italic;
    color: white;
}