/* címsorok beállításai */
h1,h2 {
    text-shadow: 5px 5px #d8d8d8;
}

h1 {
    color: rgb(170, 90, 38);
    text-align: center;
}

table {
    box-shadow: 10px 10px #d8d8d8;
    max-width: 600px;
}

body {
    background-image: url(kezipalya.jpg);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#tartalom {
    margin: 10px auto;
    width: 80%;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    max-width: 800px;
}

th {
    font-weight: bold;
    background-color: rgb(224,152,56);
    text-align: center;
}

table {
    margin: auto;
}

td {
    background-color: rgb(232,238,196);
    text-align: left;
}

table, td, th {
    border: 1px solid rgb(170, 90, 38);
    border-collapse: collapse;
    padding: 5px;
}

#labda {
    text-align: center;
    font-style: italic;
}

#kep {
    width: 120px;
    float: right;
    margin-left: 20PX;
}