body {
  background-color: #E7E7FF;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  margin: auto;
  max-width: 1000px;
  text-align: justify;
  padding: 20px;
}

table{
  box-shadow: 5px 5px 7px #1D1D4E;
}

h1 {
  text-align: center;
}

th {
  text-align: center;
  background-color: #1D1D4E;
  color: #E7E7FF;
}

table { 
  width: 450px;
  min-width: 300px;
  padding: 2px;
}

td {
  padding: 1px 10px; 
}

table, td, tr, th{
  border: 1px solid #1D1D4E;
}

footer {
  text-align: center;
  margin: 70px;
  margin-top: 40px;
}

img {
  border: 1px solid #1D1D4E;
  margin: 10px 20px;
  box-shadow: inset;
  box-shadow: 5px 5px 7px #1D1D4E;
}

#balkep {
  float: left;
  width: 250px;
}

#jobbkep {
  float: right;
  min-width: 300px;
  width: 500px;
}
.fejlec:first-child
td:first-child {
  font-weight: bold;
  text-align: right;
}

td:nth-child(2) {
  font-style: italic;
  text-align: left;
}