body {
	background-image: url("hatter.png");
	font-family: sans-serif;
	font-size: 1.1em;
	color: #444444;
	margin-top: 0;
}

p {
	text-align: justify;
}

a {
	color: #000;
}

#tartalom {
	background: #fff;
	width: 1100px;
	margin: auto;
	border: none;
	padding: 10px;
}

h1, h2 {
	color: #fc4842;
}

h2 {
	font-style: italic;
	background: #cccccc;
	padding: 20px;
}

#nav>a:not(:last-of-type) {
	border-right: 2px solid #000;
	padding-right: 10px;
	margin-right: 10px;
}

.bal {
	float: left;
	border: none;
	margin: 0 5px 0 0;
}

.kozep {
	text-align: center;	border: none;
}

table {
	margin: auto;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #000;
}

th {
	background: #cccccc;
	color: #fc4842;
	padding-top: 10px;
	padding-bottom: 10px;
}

th, td {
	text-align: center;
	width: 100px;
	font-weight: 700;
}