body {
    background-image: url(tengerpart.jpg);
}

h1 {
    color: #284555;
}

h2 {
    color: #388ec0;
}

#tartalom {
    border: none;  
    width: 1100px;
    background-color: white;
    border: 1px solid #284555;
    padding: 10px;
    margin: auto;
}

#jobb {
    width: 400px;
    background-color: #e8f7fe;
    border: none;
}

#tablazat{
    margin: auto;
    border-collapse: collapse;
    padding: 3px;
    border: 1px solid #388ec0;
}

td{
    border: 1px solid #388ec0;

}

th{
    border: 1px solid #388ec0;
    text-align: left;
}

.kozep {
    text-align: center;
}

#kep {
    width: 600px ;
}