body {
	font-size: 11pt;
	margin: auto;
	
	padding: 0px;
	background-image: url(bg.png);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: justify;
}

p{
	
}

hr {
	
}

h1, h2 {
	color: #347235;
}

h2 {
	font-size: 17px;
}

#tartalom {
	margin: 0 auto 0 auto;
	text-align: justify;
	background-color: white;
	width: 850px;
	padding: 10px 10px;
}

#nev{
	font-size: 16px;
	font-style:italic;
}


.kep {
	width: 400px;
	border: 1px solid black;
	float: right;
	margin-left: 5px;
}

a:link {
	color: #008080;
}

