table{
  box-shadow: 5px 5px 7px #1D1D4E;
  float: left;
}

td:first-child {
  font-weight: bold;
  text-align: right;
}

td:nth-child(2) {
  font-style: italic;
  text-align: left;
}


h1{
  text-align: center;
  font-size: xx-large;
}

h2{
  font-size: x-large;
}

#balkep{
  width: 200px;
  float: left;
  box-shadow: 5px 5px 7px #1D1D4E;
  margin: 0 10px 0 0;
}

td[colspan="2"]{
  text-align: center;
  background-color: black;
  color: white;
}

#jobbkep{
  float: right;
  width: 350px;
  box-shadow: 5px 5px 7px #1D1D4E;
  margin-bottom: 50px;
}

body{
  background-color: #E7E7FF;
  margin: 0 550px 0 550px;
}

p, h1, h2{
  color: #1D1D4E;
}

#forras{
  margin: 350px auto 0 auto;
  font-style: italic;
  text-align: center;
  border-top: 1px solid black;
  width: 600px;
}

th, td,tr{
    border: 1px solid black;
}
