body{
    background-color: #FFF5E8;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: saddlebrown;
    margin: 0 auto;
    

}


#buso , #jankele{
    width: 300px;
    border: 4px solid white;
    border-radius: 2px;
    
}



h1,h2{
    color: brown;
}


#buso{
    float: left;
    margin: 0 10px 10px 0;
}
#jankele{
    float: right;
    margin: 0 0 10px 10px;
}

li{
    list-style-image: url("jel.png");
    margin: 20px 0;
}

img#header{
    width: 100%;
}

img#logo{
    float: right;
}
footer{
    background-color: bisque;
    padding: 30px 10px;
    background-image: url("buso_logo.png");
    background-position: right;
    background-repeat: no-repeat;
}

P::first-letter{
    margin-left: 20px;
}