#bevezeto {
    background-color: darkgrey;
    padding: 20px 10px;
    width: 600px;
    margin: 10px auto;
    border: 4px solid black;
    border-radius: 30px;
}
bevezeto > figcaption {
    text-align: center;
}
h1 {
    color:olive
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.figura {
    font-style: italic;
    font-weight: bold;
    color:#89605a;
}
table, th, td {
    border: 1px solid magenta;
    border-collapse: collapse;
}
th, td {
    padding: 5px
}
table>caption {
    font-weight: bold;
    color:lime;
    font-size: 1em;
    margin-bottom: 1px;
}