
:root {
	--darkgreen: #347235;
	--bluegreen: #008080;
}

body {
	font-size: 11pt;
	margin: 0px;
	padding: 0px;
	background-image: url("bg.png");
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
	text-align: justify;
}

hr {
	
}

h1, h2 {
	color: var(--darkgreen);
}

h2 {
	font-size: 17px;
}

#tartalom {
	margin: 0 auto 0 auto;
	text-align: left;
	background-color: #fff;
	width: 850px;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
}

#nev{
	font-size: 16px;
	font-style:italic;
}


.kep {
	width: 400px;
	float: right;
	margin-left: 5px;
	border: 1px solid #000;
}

a:link {
	color: var(--darkgreen);
}

