/* címsorok beállításai */
h1,h2 {
    text-shadow: 5px 5px #d8d8d8;
}

table {box-shadow: 10px 10px #d8d8d8;}



#div{
    
    width: 80%;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    margin: 10px auto 10px auto;
}

body{
    background-image: url('kezipalya.jpg');
}

p, h1, h2{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: RGB(170,90,38);
}

p{
    text-align: justify;
}

#labda{
    width: 120px;
    float: right;
    margin: 0 0 0 20px;
}