#content{
    width: 600px;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    ;
}
h1{
    color: #AB4A1D;

}

h2{
    color: #018ca4;
}

footer{
    background-color: #6e391a;
}