body {
	font-size: 11pt;
	margin: 0px;
	padding: 0px;
	background-image: url('bg.png');
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
}

p{
	
}

hr {
	
}

h1, h2 {
	color: #347235;
}

h2 {
	font-size: 17px;
}

#tartalom {
	margin: 0 auto 0 auto;
	text-align: left;
	background-color: white;
	width: 850px;
	border: none;
	margin: 10px;
}

#nev{
	font-size: 16px;
	font-style:italic;
}


.kep {
	
	margin-left: 5px;
}

a:link{
	color: #008080;
}

