body{
  background-color: #ededc1;
  background-size: 70px 70px;
  background-repeat: repeat-y;
  background-position: right top;
<<<<<<< HEAD
  background-image: url('hatterkocka.png');
  padding: 15px 95px 15px 15px;
  color: #443502;
=======
  padding: 15px 95px 15px 15px;
  background-image: url(hatterkocka.png);
>>>>>>> bf0eced330df922e48471c25b1c2d4dc9e5f42f0
}

#cimkep{
  float:left;  
}

h1{
  margin: 40px 0px 100px 175px;
}

p{
  text-align: justify;
}


.jobbra{
  text-align: right;
}

.erdekesseg{
  font-size: 70%;
  padding: 7px;
  font-weight: normal;
}

li{
  font-weight:bold;
}
