.tartalom {
}

.forras {
    clear:both;
    background-color: #757575;
    color: white;
    width: 700px;
    padding: 0 20px 0 20px;
}

p {
}

img.elsok {
}

img.szerepek{
}

.adatok {
}

.elso {
    width: 16%;
    height: 190px;
    float: left;
}

p, h1, h2, tr, td, th {
    font-family: 'Times New Roman', Times, serif
}

.garasban{
    background-color: #CCC;
    padding: 0 20px 0 20px;
    
}



#potkep{
    padding: 0 auto 0 auto;
}

.garastartalom{
    margin: 0 auto 0 auto;
    width: 700px;
    padding: 0 20px 0 20px;
}

.portre{
    width: 100px;
    float: right;
    margin: 0 20px 0 20px;
}

.elsok{
    float: left;

    width: 100px;

    
}

.elso{
    font-size: 0.8em;
    text-align: center;


}

.link{
    color: white;
}