img, video, table {width:100%}

body {
    background-color: #fff8dc;
    background-image: url("media/dart-hatter.jpg");
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
p {
    text-align: justify;
}
div#oldal {
    border-radius: 20px;
    background-color: white;
    width:75%;
    min-width: 400px;
    max-width: 1000px;
    margin: 0 auto;
    border:4px solid #2c9030;
    padding: 0px 20px;
    background-image: url("media/dart-nyil.png");
    background-repeat: no-repeat;
    background-position: top right;
}
h1 {
    text-align: center;
    font-size: 48;
    color: #fd4722;
}
h2 {
    color: #2c9030;
}
#menu {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 20px;
    font-size: 120%;
    background-color: rgb(255 255 170);
}
figure {
    float: left;
    margin: 10 10 10 0;
    width: 150px;
    text-align: center;
}
.fontos {
    color: darkorange;
    font-weight: bold;
}
video,
table {
    margin: 10px;
}


table {
    border: 4px double gray;
}


td,
th {
    padding      : 5px;
    border-bottom: 1px dotted gray;
}