#bevezeto {
    background-color: lightgrey;
    padding: auto;
    width: 45%;
    margin: auto;
    border: 30px solid rgb(25, 165, 111); 
    border-radius: 40px;
    min-width: 512px;
    max-width: 1024px;
    text-align: center;
}

body {
    box
}

h1 {
    color: #89605a;
    font-family: Arial, Helvetica, sans-serif;
}

.figura {
    font-style: italic;
    font-weight: bold;
    color: #89605a;
}

table, th, td {
    border: 1px solid rgb(34, 33, 33);      
    border-collapse: collapse;
}

table > caption {
    font-weight: bold;
    color: rgb(114, 114, 224);
}

th, td {
    padding: 5px;
    text-align: center;
}
