/* címsorok beállításai */
h1,h2 {
    text-shadow: 5px 5px #d8d8d8;
}

table {box-shadow: 10px 10px #d8d8d8;}

body{
    background-image: url(kezipalya.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

div{
    width: 80%;
    margin: 20px auto;
    border: 1px solid black;
    background-color: white;
    padding: 10px 0;
}

h1{
    color: RGB(170,90,38);
}

p{
    text-align: justify;
}

#labda{
    width: 120px;
    float: right;
    margin: 20px;
}