body {
    font-family     : Arial, Helvetica, sans-serif;
    background-color: #2f4858;
    background-image: url("hatter.png");
}

div#tartalom {

    padding         : 10px;
    background-color: white;
    margin          : 20px auto;
    border-radius   : 20px;
    width           : 80%;
}


h1 {
    color: #2d9a46
}

h2 {
    color: #e95b13;
}

table {
    border         : 1px solid black;
    border-collapse: collapse;
}

th,
td {
    border : 1px solid black;
    padding: 5px
}

th {
    color     : #2d9a46;
    text-align: left;
}

.kozep {
    text-align: center;
}

.balralebeg {
    float       : left;
    margin-right: 20px;
}

.folyekony {
    width: 90%;
}