body {
	background-image: url("tengerpart.jpg");
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	width: 1100px;
	margin: auto;
	border: 2px solid #284555;
	display: grid;
	grid-template-columns: auto auto;
	background: #fff;
}

.side {
	padding: 10px;
}

.side:last-of-type {
	background: #e8f7fe;
	width: 400px;
}

h1 {
	color: #284555;
}

h2 {
	color: #388ec0;
}

img {
	width: 600px;
}

table, td, th {
	border-collapse: collapse;
}

#datatab th {
	text-align: left;
}

#datatab {
	width: 100%;
}

#datatab th, td {
	border: 1px solid #388ec0;
	padding: 3px;
}

button[type="submit"] {
	margin-top: 1em;
}

h2 {
	text-align: center;
}