body {
	background-image: url("tengerpart.jpg");
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	width: 1100px;
	margin: auto;
	border: 2px solid #284555;
}


table {
	border-collapse: collapse;
}

.content-td {
	padding: 10px;
}

.content-td:last-of-type {
	background: #e8f7fe;
	width: 400px;
}

h1 {
	color: #284555;
}

h2 {
	color: #388ec0;
}

img {
	width: 600px;
}

#datatab th {
	text-align: left;
}

#datatab * {
	border: 1px solid #388ec0;
	padding: 3px;
}