body{
    background-image: url(hatterkep.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

#tartalom{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1200px;
    margin: auto;
    padding: 15px;
    background-image: url(tabla_hatter.png);
    
}
h1{
    color: #354266;
}
h2{
    color: #354266;
}

#kiemelt{
    color: #354266;
}

footer{
    background-color: #354266;
}
#fejlec{
font-weight: bolder;
}

#kozep{
    background-color: white;
    padding: 20px;
}
table, th, tr{
    border: 2px solid #354266;
    border-collapse: collapse;
    background-color: lightblue;
    padding: 10px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
#link{
    color:white;
    text-align: center;
}
#jobb{
    background-color: lightgrey;
    background-image: url(Nemzeti_Park_logo.png);
    background-repeat: no-repeat;
    background-position: top center;
    padding: 15px;
    width: 350px;
}

#terkep{
    margin: auto;
    display: block;
}

#nagy{
    font-size: large;
    color: #354266 ;
    font-weight: bold;
}

#adatlap{
    text-align: center;
}