head{
    background-image: url('hatter.png');
}

p{
    font-family: sans-serif;
    font-size: 1.1em;
    color: #444444;
    text-align: justify;
}

.link{
    color: black;
}

body{
    background-color: white;
    width: 1100px;
    margin: 0 auto 0 auto;
    border: none;
    padding: 0 10px 0 10px;
}

h2, h1{
    color: #FC4842;
}

h2{
    font-style: italic;
    background-color: #CCCCCC;
    padding: 20px 20px 20px 20px;
}

#morsekep{
    float: left;
    border: none;
    margin: 0 5px 0 0;
}

#kozep{
    margin: 0 auto 0 auto;
    border: none;
}

