body{
  background-color:#E7E7FF;
  color:#1D1D4E;

}
table{
  box-shadow: 5px 5px 7px #1D1D4E;
}

#balkep{
 border: 1px #1D1D4E;
 width: 200px;
 text-align: left;
}

#jobbkep{
border: 1px #1D1D4E;
text-align: right;
}

#fejsor{
  -ms-text-combine-horizontal: all;
  list-style-position: center;
}

td:first-child {
  font-weight: bold;
  text-align: right;
}

td:nth-child(2) {
  font-style: italic;
  text-align: left;
}
#forras{
 text-align: center;
}


