
#bevezeto {
	background-color: lightgray;
	padding: 20px;
	width: 50%;
	margin: 10px auto;
	border-radius: 10px;
	min-width: 600px;
	max-width: 650px;
}
figcaption {
	text-align: center;
}

figure {
	text-align: center;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 20px;
}

h1 {
	color: darkred;
}

.figura {
	font-style: italic;
	font-weight: 700;
	color: #89650A;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	
}

th, td {
	padding: 5px;
}

table>caption {
	font-weight: 700;
	font-size: 1.2em;
	color: maroon;
	margin-bottom: 5px;
}