body{
    background-image: url('tengerpart.jpg');
    font-family: Arial, Helvetica, sans-serif;
}
#tenger{
    background-color: white;
}
#adatlap{
    background-color: #e8f7fe;
    width: 400px;
}
#tartalom{
    border: solid #284555;
    border-collapse: collapse;
    width: 1100px;
    padding: 10px;
    margin: auto;
}
#tartalom td {
    padding: 10px;
}

h1{
    color: #284555;
}
h2{
    color: #388ec0;
    text-align: center;
}
#terkep{
    width: 600px;
}
#tablazat th, #tablazat td{
    border: 1px solid #388ec0;
    text-align: left;
    background-color: cornflowerblue;
}
#tablazat{
    border-collapse: collapse;
    width: 100%;
}
#wiki{
    text-align: center;
}
#tablazat th{
    padding: 3px;
}