body{
    background-image: url('tengerpart.jpg');
}
div{
    width: 1100px;
    padding: 10px;
    border: solid #284555;
    background-color: white;
}

#adatlap{
    width: 400px;
    background-color: #e8f7fe;
}
h1{
    color:#284555;   
}
h2{
    color: #388ec0;
}