body {
	font-size: 11pt;
	margin: 0px;
	padding: 0px;
	background-color: white;
	width: 850px;
	margin: 0 auto 0 auto;
	padding:0 10px 0 10px
}

p{
	
}

hr {
	
}

h1, h2 {
	
}

h2 {
	
}

#tartalom {
	margin: 0 auto 0 auto;
	text-align: left;
	
}

#nev{
	font-size: 16px;
	font-style:italic;
}


.kep {
	
	margin-left: 5px;
}

a:link {

}


