#bevezeto {
    background-color: lightgray;
    padding: 20px 10px;
    width: 600px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 10px 10px 0 0;
}

figcaption {
    text-align: center;
}

video {
    margin: 0 auto;
}

h1 {
    color:brown;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.figura {
    font-style: italic;
    font-weight: bold;
    color: #89605a;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

table > caption {
    font-weight: bold;
    color: maroon;
    font-size: 1.1em;
    margin-bottom: 5px;
}
