body {
    background-image: url(hatter.png);
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
}
p {
    text-align: justify;
}

a {
    color: black;
}

#tartalom {
    background-color: white;
    width: 1100px;
    margin: 10px auto;
    border: none;
    padding: 0 10px;
}

h1, h2 {
    color: #FC4842;
}
h2 {
    font-style: italic;
    background-color: #CCCCCC;
    padding: 20px;
}

.bal{
    margin: 0 5px 0 0;
    float: left;
    border: none;
}

.kozep {
    border: none;
    float: center;
}