body {
background-image: url(hatter_sertes.jpg);
margin: 5px;
}

#blokk {
    background-color: white;
    margin: 0 auto;
    width: 900px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#kozepe {
    padding-left: 10px;
    padding-right: 10px;
}
#header {
    background-image: url(malacok.jpg);
    background-position: center;
    height: 320px;
    background-repeat: no-repeat;
}

h1 {
    padding-top: 255px;
    padding-left: 15px;
    color: white;
}

h2 {
    color: #9f5c2f;
}

#mid {
    text-align: center;
}

#kep {
    float: right;
    padding: 10px;
}

table,th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 7px;
}

table {
    margin: auto;
}

td:nth-child(1), th:nth-child(1) {
    background-color: #FCEADD;
}

#footer {
    background-color: #E9E9E9;
    text-align: center;
    height: 40px;
    line-height: 40px;
}


