body{
    background-image: url("hatterkep.jpg");
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#tartalom{
    padding: 15px;
    background-image: url(tabla_hatter.png);
    background-color: white;
    margin: 0;
}
h1,h2{
    color: #354266;
}
#kiemelt{
    color: #354266;
}
footer{
    background-color: #354266;
    width: 1200px;
    margin:0 ;
}
#tablazat {
    text-align: left;
    border: 2px solid #354266 ;
    border-collapse: collapse;
}
#tablazat th{
    padding: 5px;
    border: 1px solid #354266 ;
}
#tablazat td{
    padding: 5px;
    border: 1px solid #354266
}
div{
    border: solid #354266;
    width: 1200px;
    margin: auto;
}
#adatlap{
    background-image:url(Nemzeti_Park_logo.png);
    width: auto;
    background-repeat: no-repeat;
    align-content: start;
    background-position: 50% 20%;
}
#no_margin{
    margin: 0;
}