#bevezeto{
    background-color: lightgray;
    padding: 20px 10px ;
    width: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border:2px solid black;
    border-radius: 10px 10px 0px 0px;
}

figcaption{
    text-align: center;
}

video{
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: maroon;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.figura{
    font-style: italic ;
    font-weight: bold;
    color: #89605a;
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,td{
    padding:5px
}

table > caption{
    font-weight: bold;
    color: maroon;
    font-size: 1.1em;
}
