img, video, table {
	width:100%;
}

body {
	font-family: sans-serif;
	background-color: #fff8dc;
	background-image: url("media/dart-hatter.jpg");
	text-align: justify;
}

div#oldal {
	background: #fff;
	border-radius: 20px;
	width: 75%;
	min-width: 400px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid #2c9030;
	padding: 0 20px;
	background-image: url("media/dart-nyil.png");
	background-position: 100% 0%;
	background-repeat: no-repeat;
}

h1 {
	text-align: center;
	font-size: 48px;
	color: #fd4722;
}

h2 {
	color: #2c9030;
}

#menu {
	font-style: italic;
	font-weight: 700;
	text-align: center;
	padding: 20px;
	font-size: 1.2em;
	background-color: rgb(255, 255, 170);
}

figure {
	float: left;
	margin: 10px;
	margin-left: 0;
	width: 150px;
}

figcaption {
	text-align: center;
}


.fontos {
	color: darkorange;
	font-weight: 700;
}

video,
table {
	margin: 10px;
}


table {
	border: 4px double gray;
}


td,
th {
	padding: 5px;
	border-bottom: 1px dotted gray;
}