img, video, table {width:100%}

body{
    background-color: white;
    background-image: url('media/dart-hatter.jpg');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

p{
    text-align: justify;
}

div#oldal{
    border-radius: 20px;
    background-color: white;
    width: 75%;
    min-width: 400ox;
    max-width: 1000px;
    margin: 0 auto;
    border: 4px solid #2c9030 ;
    padding: 0 20px;
    background-image: url('media/dart-nyil.png');
    background-repeat: no-repeat;
    background-position: top right;

}

h1{
    text-align: center;
    font-size: 48px;
    color: #fd4722;

}
h2{
    color:#2c9030;
}

#menu{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    background-color: rgb(255, 255, 170);
}


#Tabla{
    float: left;
    margin: 10px 10px 10px 0;
    width: 150px;
    text-align: center;
}

.fontos{
    font-weight: bold;
    color: darkorange;

}

video,
table {
    margin: 10px;
}


table {
    border: 4px double gray;
}


td,
th {
    padding      : 5px;
    border-bottom: 1px dotted gray;
}