/* címsorok beállításai */
h1,h2 {
    text-shadow: 5px 5px #d8d8d8;
}

table {box-shadow: 10px 10px #d8d8d8;}

body{
    background-image: url('kezipalya.jpg');

}

h1, h2, p{
    font-family: Arial, Helvetica, sans-serif;
}

#div{
    width: 80%;
    padding: 20px 20px 20px 20px;
    border: 1px solid black;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0 auto 0 auto;
    max-width: 800px;
}

h1{
    color: rgb(170,90,38);
    text-align: center;
}

p{
    text-align: justify;
}

#labda{
    width: 120px;
    float: right;
    margin-left: 20px;
}

th{
    font-weight: bold;
    background-color: rgb(224,152,56);
}

td,th{
    border: 1px solid rgb(170,90,38);
    margin: 5px;

}

table{
    background-color: rgb(232,238,196);
    width: 90%;
    margin: 0 auto 0 auto;
    border-collapse: collapse;
    max-width: 600px;
}

.fkover{
    font-weight: bold;
}

#kozep{
    text-align: center;
}
