body{
    background-image: url('tengerpart.jpg');
}

#tartalom{
    width: 1100px;
    padding: 10px;
    
    margin: 0 auto 0 auto;
}

#tartalom>table{
    border: 2px solid #284555;
}

#jobb{
    background-color:  #e8f7fe;
    width: 400px;
}

#bal{
    background-color: white;
}

h1{
    color: #284555;
}

h2{
    color: #388ec0;
    text-align: center;
}

#kep{
    width: 600px;
}

th{
    text-align: left;
}

table#tablazat td, table#tablazat th{
    border: 2px solid #388ec0;
    padding: 3px;
}

#tablazat{
    border-collapse: collapse;
    margin: 0 auto 0 auto;
    background-color: lightblue;
    
}

h1, h2, td, th, tr, li{
    font-family: Arial, Helvetica, sans-serif;
}